.version.contact /* version checker */
{
	color: #0000FD;
	background-color: #B3F350;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1024px;
	min-height: 1279.850000000004px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	padding-bottom: 392px;
	width: 0.01px;
}

#u91
{
	z-index: 2;
	min-height: 108px;
	padding-bottom: 3px;
}

#u95
{
	z-index: 3;
	width: 493px;
	margin-right: -10000px;
	margin-top: 54px;
	left: 220px;
}

#u93-5
{
	z-index: 4;
	width: 493px;
	min-height: 36px;
}

#u94-4
{
	z-index: 9;
	width: 251px;
	min-height: 18px;
	margin-left: 139px;
	top: -3px;
	margin-bottom: -3px;
}

#u99-8
{
	z-index: 13;
	width: 259px;
	min-height: 30px;
	margin-right: -10000px;
	margin-top: 36px;
	left: 770px;
}

#u91-bw
{
	z-index: 2;
	min-height: 108px;
}

#u111,#u111-bw
{
	z-index: 21;
	height: 20px;
}

#u112
{
	z-index: 22;
	min-height: 39px;
	padding-bottom: 11px;
}

#u91_align_to_page,#u112_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1024px;
	left: -100px;
}

#u113-11
{
	z-index: 23;
	width: 453px;
	min-height: 22px;
	margin-right: -10000px;
	margin-top: 10px;
	left: 576px;
}

#u112-bw
{
	z-index: 22;
	min-height: 39px;
}

#u265
{
	z-index: 34;
	width: 557px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 234px;
	position: relative;
}

#slideshowu267
{
	z-index: 43;
	width: 0.01px;
	height: 200px;
	position: relative;
	margin-right: -10000px;
	margin-top: 47px;
}

#u287
{
	position: absolute;
	width: 200px;
	height: 200px;
	background-color: transparent;
	left: 60px;
}

#u287popup
{
	z-index: 44;
}

#u288
{
	z-index: 45;
	width: 200px;
	height: 200px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	border-radius: 100px;
	margin-right: -10000px;
	position: relative;
}

#u292
{
	z-index: 47;
	width: 200px;
	height: 200px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	border-radius: 100px;
	margin-right: -10000px;
	position: relative;
}

#u288 .clip_frame,#u292 .clip_frame
{
	-webkit-border-radius: 100px 100px 100px 100px;
}

#u268
{
	position: absolute;
	width: 215px;
	background-color: transparent;
	top: 47px;
	left: 275px;
}

#u268popup
{
	z-index: 49;
}

#u270-10
{
	z-index: 50;
	width: 195px;
	min-height: 133px;
	border-color: #29ABE2;
	background-color: transparent;
	border-radius: 4px;
	padding: 10px;
	line-height: 25px;
	font-size: 18px;
	color: #181818;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	font-style: italic;
	margin-right: -10000px;
	position: relative;
}

#u270-2
{
	text-align: left;
}

#u270-3,#u270-5,#u270-6,#u270-8
{
	text-align: right;
}

#u271-10
{
	z-index: 60;
	width: 195px;
	min-height: 133px;
	border-color: #29ABE2;
	background-color: transparent;
	border-radius: 4px;
	padding: 10px;
	color: #181818;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	font-style: italic;
	margin-right: -10000px;
	position: relative;
}

#u271-2
{
	font-size: 18px;
	text-align: left;
	line-height: 25px;
}

#u271-3
{
	font-size: 6px;
	text-align: right;
	line-height: 8px;
}

#u271-5,#u271-6,#u271-8
{
	font-size: 18px;
	text-align: right;
	line-height: 25px;
}

#u284-4
{
	position: absolute;
	width: 20px;
	min-height: 35px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	line-height: 34px;
	color: #BCBCBC;
	font-size: 24px;
	text-align: center;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	top: 52px;
}

#u284-4popup
{
	z-index: 70;
}

#u274-4
{
	position: absolute;
	width: 20px;
	min-height: 35px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	line-height: 34px;
	color: #BCBCBC;
	font-size: 24px;
	text-align: center;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	top: 52px;
	left: 517px;
}

#u274-4popup
{
	z-index: 74;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u266-8
{
	z-index: 35;
	width: 324px;
	min-height: 33px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	left: 126px;
}

#u1014
{
	z-index: 78;
	min-height: 486px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u1014-bw
{
	z-index: 78;
	min-height: 486px;
	margin-top: 9px;
}

body
{
	position: relative;
	min-width: 1024px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

