.bodytext
{
	font-family: droid-sans-n4, sans-serif;
}

#u93-5,#u93-2,#u94-4,#u99-8,#u113-11
{
	font-family: pt-sans-i4, sans-serif;
}

#u270-10,#u271-10,#u284-4,#u274-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u266-8
{
	font-family: pt-sans-i4, sans-serif;
}

