.bodytext
{
	font-family: droid-sans-n4, sans-serif;
}

#u93-5,#u93-2,#u94-4,#u99-8,#u113-11
{
	font-family: pt-sans-i4, sans-serif;
}

#u885-11,#u887-10,#u888-10,#u886-11,#u870-4,#u883-4
{
	font-family: pt-sans-n4, sans-serif;
}

