.version.index /* version checker */
{
	color: #00001F;
	background-color: #F76905;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1024px;
	min-height: 1279.8750000000002px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	padding-bottom: 690px;
	width: 0.01px;
}

#u91
{
	z-index: 2;
	min-height: 108px;
	padding-bottom: 3px;
}

#u95
{
	z-index: 3;
	width: 493px;
	margin-right: -10000px;
	margin-top: 54px;
	left: 220px;
}

#u93-5
{
	z-index: 4;
	width: 493px;
	min-height: 36px;
}

#u94-4
{
	z-index: 9;
	width: 251px;
	min-height: 18px;
	margin-left: 139px;
	top: -3px;
	margin-bottom: -3px;
}

#u99-8
{
	z-index: 13;
	width: 259px;
	min-height: 30px;
	margin-right: -10000px;
	margin-top: 36px;
	left: 770px;
}

#u91-bw
{
	z-index: 2;
	min-height: 108px;
}

#u111,#u111-bw
{
	z-index: 21;
	height: 20px;
}

#u112
{
	z-index: 22;
	min-height: 39px;
	padding-bottom: 11px;
}

#u91_align_to_page,#u112_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1024px;
	left: -100px;
}

#u113-11
{
	z-index: 23;
	width: 453px;
	min-height: 22px;
	margin-right: -10000px;
	margin-top: 10px;
	left: 576px;
}

#u112-bw
{
	z-index: 22;
	min-height: 39px;
}

#slideshowu860
{
	z-index: 34;
	width: 0.01px;
	height: 445px;
	margin-left: 20px;
	position: relative;
}

#u861
{
	position: absolute;
	width: 689px;
	height: 445px;
	background-color: transparent;
	left: 40px;
}

#u861popup
{
	z-index: 35;
}

#u864
{
	z-index: 36;
	width: 689px;
	height: 445px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u868
{
	z-index: 38;
	width: 689px;
	height: 445px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u862
{
	z-index: 40;
	width: 689px;
	height: 445px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u864_clip,#u868_clip,#u862_clip
{
	overflow: hidden;
	width: 689px;
	height: 445px;
}

#u864_img,#u868_img,#u862_img
{
	margin-top: -36px;
	margin-bottom: -36px;
}

#u866
{
	z-index: 42;
	width: 689px;
	height: 445px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u884
{
	position: absolute;
	width: 215px;
	background-color: transparent;
	left: 729px;
}

#u884popup
{
	z-index: 44;
}

#u885-11
{
	z-index: 45;
	width: 195px;
	min-height: 425px;
	border-color: #29ABE2;
	background-color: transparent;
	padding: 10px;
	line-height: 25px;
	font-size: 18px;
	color: #181818;
	text-align: left;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	font-style: italic;
	margin-right: -10000px;
	position: relative;
}

#u887-10
{
	z-index: 56;
	width: 195px;
	min-height: 425px;
	border-color: #29ABE2;
	background-color: transparent;
	padding: 10px;
	line-height: 25px;
	font-size: 18px;
	color: #181818;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	font-style: italic;
	margin-right: -10000px;
	position: relative;
}

#u888-10
{
	z-index: 66;
	width: 195px;
	min-height: 425px;
	border-color: #29ABE2;
	background-color: transparent;
	padding: 10px;
	line-height: 25px;
	font-size: 18px;
	color: #181818;
	text-align: left;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	font-style: italic;
	margin-right: -10000px;
	position: relative;
}

#u886-11
{
	z-index: 76;
	width: 195px;
	min-height: 425px;
	border-color: #29ABE2;
	background-color: transparent;
	padding: 10px;
	line-height: 25px;
	font-size: 18px;
	color: #181818;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	font-style: italic;
	margin-right: -10000px;
	position: relative;
}

#u887,#u887-2,#u887-3,#u887-5,#u887-7,#u886,#u886-2,#u886-3,#u886-4,#u886-6,#u886-8
{
	text-align: left;
}

#u887-8,#u886-9
{
	text-align: right;
}

#u870-4
{
	position: absolute;
	width: 20px;
	min-height: 35px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	line-height: 34px;
	color: #BCBCBC;
	font-size: 24px;
	text-align: center;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	top: 166px;
}

#u870-4popup
{
	z-index: 87;
}

#u883-4
{
	position: absolute;
	width: 20px;
	min-height: 35px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	line-height: 34px;
	color: #BCBCBC;
	font-size: 24px;
	text-align: center;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	top: 166px;
	left: 944px;
}

#u883-4popup
{
	z-index: 91;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

body
{
	position: relative;
	min-width: 1024px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

